.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	margin: 0.6rem;
	color: var(--color-text);
	border-radius: 0.8rem;
	border: 2px solid var(--color-accent);
}
.checkbox {
	width: 1.5rem;
	height: 1.5rem;
	accent-color: var(--color-accent);
}
.text {
	flex: 1;
	margin: 0 0.5rem;
	font-size: 1.5rem;
	text-overflow: ellipsis;
	overflow: hidden;
}
.icon {
	width: 1.6rem;
	height: 1.6rem;
	background-color: var(--color-bg-dark);
	border-radius: 5px;
	text-align: center;
	transition: 150ms ease-out;
	cursor: pointer;
}
.icon:hover {
	background-color: var(--color-accent);
	transform: rotate(15deg) scale(1.2);
}
.button {
	background-color: transparent;
	position: relative;
	top: 0.1rem;
}
